.image-show img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    height: 40px;
    border-bottom-color: 2px solid black;
}
.button-box button{
    width: 250px;
    height: 40px;
    background-color:  rgb(213, 24, 141);
    color: #fff;
    filter: contrast(150%);
    font-weight: 600;
}
.button-box a{
    color: rgb(87, 79, 79);
    font-weight: 700;
    text-decoration: none;

}
.container h2{
    color: #ad0085;
    font-weight: 700;
    font-family: cursive;
}