*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 .logo{
  margin: 10px 20px;
  color: #c209a9;
  font-weight: 500;
  font-family: cursive;
  display: flex;
  gap: 10px;

 }
 .logo button{
  width: 50px;
  background-color: #eddfea;
  border: none;
  font-weight: 600;
 }
 #header h1{
  text-align: center;

 }
 #header p{
  text-align: center;
 }
.card-service{
  height: 385px;
  width: 350px;
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;

}
.card-service:hover{
  border: 2px solid rgb(153, 8, 119);
}
.image-card{
  height: 240px;
  width: 250px;
}
.image-card:hover{
  transition: 0.89s;
}
.image-container:hover{
  transform: scale(1.1);
  transition: 0.70s;
}

.card-text h5{
  font-weight: 600;
  /* font-size: 40px; */
 }
.card-input input{
  height: 20px;
  width:30px;
  color: #c209a9;
   

}
.btns{
  height: 50px;
  width: 200px;
  align-items: center;
  background-color: rgb(225, 11, 175);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.60;

}
#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
#hiddenParagraph {
    display: none;
}
.hiddenParagraph {
display: none;
}

   